<div id="slideshow" class="icon-loading-dark">
	<div id="viewportImage"></div>
	<label class="labelBigImage"></label>
	<input type="button" class="svg next icon-view-next"/>
	<input type="button" class="svg play icon-view-play"/>
	<input type="button" class="svg pause icon-view-pause"/>
	<input type="button" class="svg previous icon-view-previous"/>
	<input type="button" class="svg exit icon-view-close"/>
	<input type="button" class="svg editItMeta icon-view-editmeta" title="Edit Metadata" />
	<input type="button" class="svg downloadImage icon-view-download" title="Download Image" />
	<input type="button" class="svg infoMeta icon-view-infometa"  title="Show Metadata" />
	<input type="button" class="svg controlsOn icon-view-controls"  title="Show Controls always" />
	<input type="button" class="svg zoomToFitHeight icon-view-zoomheight activeMode" title="Zoom to fit Height" />
    <input type="button" class="svg zoomToFitWidth icon-view-zoomwidth activeMode" title="Zoom to fit Width" />
	<input type="button" class="svg zoomToFit icon-view-zoom activeMode" title="Zoom to fit Viewport" />
	<input type="button" class="svg fullscreen-start icon-view-fullscreen-start" title="[f]" />
	<input type="button" class="svg fullscreen-exit icon-view-fullscreen-exit" />
	
	
	<div class="progress icon-view-pause"></div>
			
</div>
<div id="dialog" style="display:none;"></div>
<div id="overlayEdit" style="display:none;"></div>